// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 

$font: 'Oxygen', helvetica, sans-serif;

 td svg {
 	max-height: 100%;
 	max-width: 100%;
 	overflow: hidden;
 }

 .category-placeholder {
 	height: 180px;
 	width: 250px;
 	border-radius: 15px;

 	img {border-radius: 15px;}

 }

 table {
 	float: right;
 	margin: 10px 60px 10px 0px;
 }

 th {
 	font-family: $font;
 	padding: 5px;

 	a {
 		text-decoration: none;
 		font-size: 120%;
 		color: #213638;
 	}
 }

 .back {
 	position: fixed;
 	bottom: 0;
 	margin-bottom: 20px;
 	font-family: $font;
 	font-size: 120%;

 	a {
 		color: #213638;
 		text-decoration: none;
 	}

 	a:hover {
 		color: #D3CBBD
 	}
 	
 }

