// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font: 'Oxygen', helvetica, sans-serif;

#colorpicker {
	float: right;
	margin-top: 150px;
}

#image {
	display: inline-block;
}

svg {
	width: 700px;
	height: 500px;
	border-radius: 15px;
}

h2 {
	font-family: 'Pacifico', cursive;
	font-size: 200%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #D3CBBD;
}

.back {
 	position: fixed;
 	bottom: 0;
 	margin-bottom: 20px;
 	font-family: $font;
 	font-size: 120%;

 	a {
 		color: #213638;
 		text-decoration: none;
 	}

 	a:hover {
 		color: #D3CBBD
 	}
 	
 }