<p id="notice"><%= notice %></p>

<h2>Start Colouring!</h2>

<div id="image">
  <%= @image.svg.html_safe %>
</div>



<div id="colorpicker"></div>

<div class="back-button">
<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', @category_path %>
</div> 
