<p id="notice"><%= notice %></p>

<h2> doing a thing </h2>

<div id="image">
  <%= @image.svg.html_safe %>
</div>



<div id="colorpicker"></div>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
