<p id="notice"><%= notice %></p>

<h2> doing a thing </h2>

<div id="image">
  <%= @image.svg.html_safe %>
</div>



<div id="colorpicker"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="farbtastic.js"></script>
<link rel="stylesheet" href="farbtastic.css" type="text/css" />

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
